### Day_5

# EXCEPTION HANDLING

# TYPES
--> Syntax Error

--> Runtime Error

In [58]:
num=int(input("Enter the number"))
num

Enter the number123

123

In [60]:
num=int(input("Enter the number"))
num

Enter the numberasdf

ValueError: invalid literal for int() with base 10: 'asdf'

In [61]:
print("rahul")
Print("Rahul")   #syntax error

rahul

NameError: name 'Print' is not defined

In [62]:
"qwer"+123 #type error

TypeError: can only concatenate str (not "int") to str

In [63]:
12/2

6.0

In [64]:
13/0         #zero division error

ZeroDivisionError: division by zero

In [71]:
def divide(a,b):
    return a/b

In [72]:
divide(144,12)

12.0

In [76]:
def dividee(a,b):
    raise Exception("Your input is wrong")
    return a/b

In [77]:
dividee(12,"qwert")

TypeError: Exception() takes 0 positional arguments but 1 was given

In [78]:
divide(12,0)

ZeroDivisionError: division by zero

In [79]:
a="18"

In [80]:
a.isdigit()

True

In [3]:
num1=(input("Enter the number:"))
print(num1.isdigit())

Enter the number:123
True

In [17]:
def exception():
    num=(input("enter the number:"))
    if not num.isdigit():
        raise Exception("you given string")
    else:
        print(num)

In [18]:
exception()

enter the number:12345
12345

In [27]:
exception()       ###error

enter the number:sdfg

Exception: you given string

# ASSERT

In [26]:
batch=[40,26,39,30,25,21]
cut=26
for i in batch:
    assert i>=26,"batch is rejected"   #assertion error
    print(str(i) + " O.K")

40 O.K
26 O.K
39 O.K
30 O.K

AssertionError: batch is rejected

# TRY AND EXCEPT BLOCK

In [40]:
def divide1(a,b):
    try:
        return a/b
    except TypeError:
        print("your input is wrong")
    except ZeroDivisionError:
        print("your denominator is wrong")

In [41]:
divide1(12,12)

1.0

In [42]:
divide1(12,0)

your denominator is wrong

In [43]:
divide1(12,str)

your input is wrong

In [48]:
divide1(12,"asd")

your input is wrong

In [59]:
def divide(): 
    try:
        a=int(input("enter a number:"))
        b=int(input("enter a number:"))
        return a/b
    except TypeError:
        print("your input is wrong")
    except ZeroDivisionError:
        print("your denominator is wrong")
    except Exception:
        print("invalid data")
        divide()      ###recursive function

In [60]:
divide()

enter a number:12
enter a number:12

1.0

In [62]:
divide()

enter a number:12
enter a number:qwer
invalid data
enter a number:12
enter a number:0
your denominator is wrong

# FINALLY

In [63]:
def divide(): 
    try:
        a=int(input("enter a number:"))
        b=int(input("enter a number:"))
        return a/b
    except TypeError:
        print("your input is wrong")
    except ZeroDivisionError:
        print("your denominator is wrong")
    except Exception:
        print("invalid data")
    finally:
        print("Thankyou")

In [64]:
divide()

enter a number:12
enter a number:2
Thankyou

6.0

In [75]:
##### else

try:
    num=int(input("enter the number:"))
    assert num % 2 == 0
except ValueError:
    print("not a integer")
except :
    print("not a even number")
else:
    rec=1/num
    print(rec)

enter the number:asdf
not a integer

# HIGHER ORDER FUNCTION

### Map: 
- The map() function takes a function and an iterable (such as a list) as arguments. 
- It applies the function to each item in the iterable and returns an iterator that yields the results.
- Essentially, map() transforms each element of a collection using a provided function.

# map() Syntax
Its syntax is:

     map(function, iterable, ...)

In [2]:
numbers = [2, 4, 6, 8, 10]
def square(a):
    return a**2

In [3]:
 set(map(square,numbers))

{4, 16, 36, 64, 100}

In [4]:
def square(number):
    '''
    it return the add function
    '''
    return number * number

In [5]:
square(4)

16

In [6]:
n = map(square,numbers)
print(type(tuple(n)))

<class 'tuple'>

In [7]:
# Example of map function
def square(x):
    return x ** 2

numbers = (1, 2, 3, 4, 5)
squared_numbers = map(square, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

### Reduce:
- The reduce() function is part of the functools module in Python. 
- It applies a rolling computation to sequential pairs of values in an iterable and ultimately returns a single result. 
- The function provided to reduce() should take two arguments and return a single value. 
- It's often used to perform some kind of aggregation or accumulation operation on a collection.

In [7]:
import functools as fs
dir(fs)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [8]:
from functools import reduce
def add(x,y):
    return x+y
num = (12,24,36)
red = reduce(add,num)
red

72

In [9]:
# Example of reduce function
from functools import reduce

def add(x, y):
    return x + y

numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(add, numbers)
print(sum_of_numbers)

15

## Lambda functions:
- Lambda functions, also known as anonymous functions, are small, inline functions defined using the lambda keyword.
- They can have any number of arguments but can only contain a single expression. 
- Lambda functions are often used when a simple function is needed for a short period and does not need a name.

In [21]:
numbers=[10,10]

In [22]:
n = reduce(lambda x,y : x*y,numbers)
n

100

In [15]:

words = ["hello", "world", "python"]
concatenated_string = reduce(lambda x, y: x + ' '+  y, words)
print(concatenated_string)

hello world python

In [23]:
numbers = [5, 8, 3, 2, 10]
max_number = reduce(lambda x, y: x if x > y else y, numbers)
print(max_number)

10

In [24]:

words = ["Hello", " ", "World", "!"]
concatenated_string = reduce(lambda x, y: x + y, words)
print(concatenated_string)

Hello World!

In [25]:
from functools import reduce

def factorial(n):
    return reduce(lambda x, y: x * y, range(1, n + 1))

print(factorial(5))

120

In [26]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x ** 2, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

# filter

--> returns the item foe which the functions returns true.


-->syntax:filter(function,iterable)

-->iterable--->>list,tuple,set etc

In [28]:
def fun(a):
    return a%2 == 0

In [29]:
def fun(a):
    return a*2

In [30]:
fun(2)

4

In [36]:
numbers = [1, 2, 3, 4, 5]
list(filter(fun,numbers))

[1, 2, 3, 4, 5]

In [37]:
even_numbers = map(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[False, True, False, True, False]

In [38]:
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4]

# Example 1: Working of map()

In [39]:
def calculateSquare(n):
    return n*n


numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)


# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x000001F365E20F10>
{16, 1, 4, 9}

# Example 2: How to use lambda function with map()?

In [40]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x000001F365E14C70>
{16, 1, 4, 9}

In [41]:
len("Rahul")

5

In [42]:
# Filter out words longer than 5 characters
words = ["apple", "banana", "kiwi", "orange", "grape"]
short_words = filter(lambda x: len(x) <= 5, words)
print(list(short_words))

['apple', 'kiwi', 'grape']

In [43]:
# Filter out negative numbers
numbers = [-3, -2, -1, 0, 1, 2, 3]
positive_numbers = filter(lambda x: x >= 0, numbers)
print(list(positive_numbers))

[0, 1, 2, 3]

In [44]:

def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5]
even_numbers = filter(is_even, numbers)
# print(list(even_numbers))
print(list(even_numbers))

[2, 4]

# Example 3: Passing Multiple Iterators to map() Using Lambda
- In this example, corresponding items of two lists are added.

In [45]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

# List comprehension

# List Comprehension
- its faster compared to normal for loop Techniques

In [27]:
empty = []
for i in range(1,16):
    empty.append(i)
print(empty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [30]:
[i for i in range(1,16)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [47]:
empty = []
for i in range(1,21):
    empty.append(i)
empty

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [48]:
res = [i for i in range(1,21)]
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [57]:
empty = []
for i in range(1,21):
    empty.append(i)
tuple(empty)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [31]:
new_list = [12,14,16,18]

In [32]:
# Traditional method
loop_list = []
for num in new_list:
    sq_num = num*num
    loop_list.append(sq_num)
loop_list

[144, 196, 256, 324]

In [33]:
[ num*num  for num in new_list] # its faster compared to normal for loop teckinuques

[144, 196, 256, 324]

In [62]:
marks = ["100","250","400","764"]

In [63]:
marks_int = []
for num in marks:
    converted_marks = int(num)
    marks_int.append(converted_marks)
marks_int

[100, 250, 400, 764]

In [64]:
[ int(num) for num in marks ]

[100, 250, 400, 764]

In [65]:
names= "Peter"
len(names)

5

In [66]:
num_1 = list(range(1,11))
num_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# Traditional format 
even = []
for num in range(1,11):
    if num%2 == 0:
        even.append(num)

In [68]:
even

[2, 4, 6, 8, 10]

- 1st part is stored what u want to store in the list
- 2nd part is for loop
- 3rd part is condition

In [69]:
[num for num in range(1,11) if num%2 == 0 ]

[2, 4, 6, 8, 10]

# Time Taken

In [70]:
import time 
start_time = time.time()
[num for num in range(1,10000000) if num %2 == 0 ]  # 
end_time = time.time()
print("Time Taken:", end_time - start_time)

Time Taken: 3.2889065742492676

In [71]:
import time 
start_time = time.time()
even = []
for num in range(1,10000000):
    if num%2 == 0:
        even.append(num)
end_time = time.time()
print("Time Taken:", end_time - start_time)

Time Taken: 3.259643316268921

In [72]:

# returns True if the argument passed is even

def check_even(number):
    if number % 2 == 0:
          return True  

    return False


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# if an element passed to check_even() returns True, select it
even_numbers_iterator = filter(check_even, numbers)

# converting to list
even_numbers = list(even_numbers_iterator)

print(even_numbers)

[2, 4, 6, 8, 10]

In [73]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [77]:
def Sample_list(numbers):
    return sum(numbers)

print("Summation = ",Sample_list((8, 2, 3, 0, 7)))

Summation =  20

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [80]:
is_even(8)

True

In [81]:
is_even(7)

False

In [79]:
list(filter(is_even,numbers))

[2, 4, 6, 8, 10]

In [82]:
numbers = list(range(1,11))
print(numbers) 
a = map(lambda  num : num%2 == 0,numbers )   ###function
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[False, True, False, True, False, True, False, True, False, True]